*{
    padding: 0;
    margin: 0;
}

.main{
    background-color: white;
    height: 100%;
    width: 100%;
    color: #2b2d42;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.header{
    background-color: #8d99ae;
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-transform: capitalize;
}

.header h1{
    padding: 0px 20px;
}

.wraper {
    width: 80%;
    height: auto;
    margin: auto;
}

.nav{
    background-color: #2b2d42;
    width: 100%;
    height: 50px;
    text-transform: capitalize;
    position: sticky;
    top: 0px;
}

.nav ul li{
    padding: 15px 20px;
}

.nav ul li a{
    text-decoration: none;
    color:#8d99ae;
    list-style: none;
}

.slider img{
    width: 100%;
    height: 400px;
}

.phead{
    color: #2b2d42;
    /* background-color: #2b2d42; */
    clear: both;
}

.phead h2{
    border-bottom: 1px solid black;
}

.box{
    height: 290px;
    width: 23.5%;
    text-align: center;
    line-height: 25px;
    color: #000;
    border: 1px solid #2b2d42;
    border-radius: 15px;
    margin: 10px 5px;
    float: left;
}

.boximg{
    height: 200px;
    width: 100%;
}

.boximg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.box h3{
    text-transform: uppercase;
}

.box a{
    text-transform: capitalize;
    text-decoration: none;
    color: #8d99ae;
    background-color: #2b2d42;
    padding: 5px 15px;
    border-radius: 10px;
}

.box a:hover{
    background-color: #8d99ae;
    color: #2b2d42;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.footer{
    background-color: #8d99ae;
    text-align: center;
    clear: both;
    padding: 20px 0;
}

.box h3 del{
    font-size: 1rem;
    color: maroon;
    font-weight: 300;
}
